body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}
.App-dictionary {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
