body {
  background: #7f9a95;
}

a {
  color: #774de3;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-dictionary {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: block;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
